@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

#head{
    display: block;
    height: 90px;
    background-color: #8600b0;
    border: 10px solid;
    border-color: black;
    border-radius: 15px;
    text-align: center;
}

#hi{
    margin-top: -7px;
    font-family: 'Pacifico';
    font-size: 50px;
    font-weight: 450;
    font-style: italic;
    color: black;
}

#site_name{
    color: #06b6df;
    font-size: 60px;
}

#main{
    background-color: #8505ad;
    display: block;
    width: 75%;
    opacity: 0.97;

    border: 3px solid;
    border-radius: 15px;
    border-bottom: none;
    text-align: center;
    margin: 15% 12.5% 5% 12.5%;
    margin-bottom: 0%;
    float: left;
}

h2{
    margin-top: 20px;
    color: black;
    font-family: 'Pacifico';
    font-weight: 400;
    font-size: 40px;
}

#foot{
    display: block;
    background-color: #6d0a8c;
    border: 5px solid;
    border-radius: 15px;
    text-align: center;
    width: 75%;
    height: 75px;
    margin-left: 12.5%;
    line-height: 69px;
    float: left;
}

#surveys{
    list-style: none;
    margin-left: 5.5%;
}

.surv{
    display: block;
    width: 250px;
    height: 200px;
    float: left;
    margin: 30px;
    margin-top: 80px;
    margin-bottom: -10px;
    border-radius: 30px 30%;
    border: 10px double black;
}

#first{
    background-color: #ee055a;
    text-decoration: none;
}

#first:hover{
    background-color: #F91174;
}

#first:active{
    background-color: #AB0B4F;
}

#chakra_test{
    margin-top: 65px;
    font-family: 'Pacifico';
    font-size: 25px;
    color: black;
}

#second{
    background-color: #0567c5;
    text-decoration: none;
}

#second:hover{
    background-color: #0A77E0;
}

#second:active{
    background-color: #0A57A0;
}

#math_test{
    margin-top: 50px;
    font-family: 'Pacifico';
    font-size: 25px;
    color: black;
}

#third{
    background-color: #9107ab;
    text-decoration: none;
}

#third:hover{
    background-color: #A80DC6;
}

#third:active{
    background-color: #75078A;
}

#iq_test{
    margin-top: 50px;
    font-family: 'Pacifico';
    font-size: 25px;
    color: black;
}


#description{
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'Pacifico';
    color: black;
    font-size: 40px;
    float: left;
}

#about_me{
    text-decoration: none;
}

#i{
    font-family: 'Pacifico';
    font-size: 20px;
    color: black;
}